In [11]:
%matplotlib inline
import pandas as pd

In [12]:
from IPython.core.display import HTML
css = open('style-table.css').read() + open('style-notebook.css').read()
HTML('<style>{}</style>'.format(css))

In [13]:
titles = pd.DataFrame.from_csv('data/titles.csv', index_col=None)
len(titles)

218513

In [14]:
cast = pd.DataFrame.from_csv('data/cast.csv', index_col=None)
len(cast)

3376362

In [15]:
# How many movies are listed in the titles dataframe?

len(titles)

218513

In [16]:
# What are the earliest two films listed in the titles dataframe?

titles.sort('year').head(2)

                                                    title  year
125920                                         Miss Jerry  1894
144439  Reproduction of the Corbett and Fitzsimmons Fight  1897

In [17]:
# How many movies have the title "Hamlet"?

len(titles[titles.title == 'Hamlet'])

19

In [18]:
# How many movies are titled "North by Northwest"?

len(titles[titles.title == 'North by Northwest'])

1

In [19]:
# When was the first movie titled "Hamlet" made?

titles[titles.title == 'Hamlet'].sort('year').head(1)

         title  year
119586  Hamlet  1910

In [20]:
# List all of the "Treasure Island" movies from earliest to most recent.

titles[titles.title == 'Treasure Island'].sort('year')

                  title  year
66440   Treasure Island  1918
192157  Treasure Island  1920
177062  Treasure Island  1934
197549  Treasure Island  1950
46401   Treasure Island  1972
205656  Treasure Island  1973
66191   Treasure Island  1985
57158   Treasure Island  1999

In [21]:
# How many movies were made in the year 1950?

len(titles[titles.year == 1950])

1039

In [22]:
# How many movies were made in the year 1960?

len(titles[titles.year == 1960])

1472

In [23]:
# How many movies were made from 1950 through 1959?

t = titles
len(t[(t.year >= 1950) & (t.year <= 1959)])

12166

In [24]:
len(t[t.year // 10 == 195])

12166

In [25]:
# In what years has a movie titled "Batman" been released?

t = titles
t[t.title == 'Batman']

         title  year
52664   Batman  1989
105850  Batman  1943

In [26]:
# How many roles were there in the movie "Inception"?

c = cast
len(c[c.title == 'Inception'])

74

In [27]:
# How many roles in the movie "Inception" are NOT ranked by an "n" value?

c = cast
c = c[c.title == 'Inception']
c = c[c.n.isnull()]
len(c)

23

In [28]:
# But how many roles in the movie "Inception" did receive an "n" value?

c = cast
c = c[c.title == 'Inception']
c = c[c.n.notnull()]
len(c)

51

In [29]:
# Display the cast of "North by Northwest" in their correct "n"-value order,
# ignoring roles that did not earn a numeric "n" value.

c = cast
c = c[c.title == 'North by Northwest']
c = c[c.n.notnull()]
c = c.sort('n')
c

,title,year,name,type,character,n
787455,North by Northwest,1959,Cary Grant,actor,Roger O. Thornhill,1
3144258,North by Northwest,1959,Eva Marie Saint,actress,Eve Kendall,2
1316346,North by Northwest,1959,James Mason,actor,Phillip Vandamm,3
2829508,North by Northwest,1959,Jessie Royce Landis,actress,Clara Thornhill,4
321231,North by Northwest,1959,Leo G. Carroll,actor,The Professor,5
2736177,North by Northwest,1959,Josephine Hutchinson,actress,Mrs. Townsend,6
1532294,North by Northwest,1959,Philip Ober,actor,Lester Townsend,7
1151433,North by Northwest,1959,Martin Landau,actor,Leonard,8
2208479,North by Northwest,1959,Adam Williams,actor,Valerian,9
1636454,North by Northwest,1959,Edward Platt,actor,Victor Larrabee,10
601387,North by Northwest,1959,Robert Ellenstein,actor,Licht,11
2071688,North by Northwest,1959,Les Tremayne,actor,Auctioneer,12
418788,North by Northwest,1959,Philip Coolidge,actor,Dr. Cross,13
1363428,North by Northwest,1959,Patrick McVey,actor,Sergeant Flamm,14
184495,North by Northwest,1959,Edward Binns,actor,Captain Junket,15
1250762,North by Northwest,1959,Ken Lynch,actor,Charley - Chicago Policeman,16

In [30]:
# Display the entire cast, in "n"-order, of the 1972 film "Sleuth".

c = cast
c = c[c.title == 'Sleuth']
c = c[c.year == 1972]
c = c.sort('n')
c

,title,year,name,type,character,n
1541290,Sleuth,1972,Laurence Olivier,actor,Andrew Wyke,1
293974,Sleuth,1972,Michael Caine,actor,Milo Tindle,2
336868,Sleuth,1972,Alec Cawthorne,actor,Inspector Doppler,3
1323759,Sleuth,1972,John (II) Matthews,actor,Detective Sergeant Tarrant,4
2452307,Sleuth,1972,Eve (III) Channing,actress,Marguerite Wyke,5
1308800,Sleuth,1972,Teddy Martin,actor,Police Constable Higgs,6

In [31]:
# Now display the entire cast, in "n"-order, of the 2007 version of "Sleuth".

c = cast
c = c[c.title == 'Sleuth']
c = c[c.year == 2007]
c = c.sort('n')
c

          title  year                 name     type          character   n
293975   Sleuth  2007        Michael Caine    actor             Andrew   1
1168222  Sleuth  2007             Jude Law    actor               Milo   2
1631576  Sleuth  2007        Harold Pinter    actor        Man on T.V.   3
233194   Sleuth  2007      Kenneth Branagh    actor  Other Man on T.V. NaN
336869   Sleuth  2007  Alec (II) Cawthorne    actor  Inspector Doppler NaN
2452306  Sleuth  2007    Eve (II) Channing  actress    Marguerite Wyke NaN
3015768  Sleuth  2007    Carmel O'Sullivan  actress             Maggie NaN

In [32]:
# How many roles were credited in the silent 1921 version of Hamlet?

c = cast
c = c[(c.title == 'Hamlet') & (c.year == 1921)]
len(c)

9

In [33]:
# How many roles were credited in Branagh’s 1996 Hamlet?

c = cast
c = c[(c.title == 'Hamlet') & (c.year == 1996)]
len(c)

54

In [34]:
# How many "Hamlet" roles have been listed in all film credits through history?

c = cast
c = c[c.character == 'Hamlet']
len(c)

84

In [35]:
# How many people have played an "Ophelia"?

c = cast
c = c[c.character == 'Ophelia']
len(c)

98

In [36]:
# How many people have played a role called "The Dude"?

c = cast
c = c[c.character == 'The Dude']
len(c)

16

In [37]:
# How many people have played a role called "The Stranger"?

c = cast
c = c[c.character == 'The Stranger']
len(c)

195

In [38]:
# How many roles has Sidney Poitier played throughout his career?

c = cast
c = c[c.name == 'Sidney Poitier']
len(c)

43

In [39]:
# How many roles has Judi Dench played?

c = cast
c = c[c.name == 'Judi Dench']
len(c)

51

In [40]:
# List the supporting roles (having n=2) played by Cary Grant in the 1940s,
# in order by year.

c = cast
c = c[c.name == 'Cary Grant']
c = c[c.year // 10 == 194]
c = c[c.n == 2]
c = c.sort('year')
c

                   title  year        name   type    character  n
787452  My Favorite Wife  1940  Cary Grant  actor         Nick  2
787462    Penny Serenade  1941  Cary Grant  actor  Roger Adams  2

In [41]:
# List the leading roles that Cary Grant played in the 1940s in order by year.

c = cast
c = c[c.name == 'Cary Grant']
c = c[c.year // 10 == 194]
c = c[c.n == 1 ]
c = c.sort('year')
c

,title,year,name,type,character,n
787477,The Howards of Virginia,1940,Cary Grant,actor,Matt Howard,1
787434,His Girl Friday,1940,Cary Grant,actor,Walter Burns,1
787479,The Philadelphia Story,1940,Cary Grant,actor,C. K. Dexter Haven,1
787467,Suspicion,1941,Cary Grant,actor,Johnnie,1
787481,The Talk of the Town,1942,Cary Grant,actor,Leopold Dilg,1
787458,Once Upon a Honeymoon,1942,Cary Grant,actor,Patrick 'Pat' O'Toole,1
787425,Destination Tokyo,1943,Cary Grant,actor,Capt. Cassidy,1
787450,Mr. Lucky,1943,Cary Grant,actor,Joe Adams,1
787451,Mr. Lucky,1943,Cary Grant,actor,Joe Bascopolous,1
787459,Once Upon a Time,1944,Cary Grant,actor,Jerry Flynn,1
787417,Arsenic and Old Lace,1944,Cary Grant,actor,Mortimer Brewster,1
787454,None But the Lonely Heart,1944,Cary Grant,actor,Ernie Mott,1
787453,Night and Day,1946,Cary Grant,actor,Cole Porter,1
787456,Notorious,1946,Cary Grant,actor,Devlin,1
787473,The Bachelor and the Bobby-Soxer,1947,Cary Grant,actor,Dick Nugent,1
787474,The Bishop's Wife,1947,Cary Grant,actor,Dudley,1
787449,Mr. Blandings Builds His Dream House,1948,Cary Grant,actor,Jim Blandings,1
787429,Every Girl Should Be Married,1948,Cary Grant,actor,Dr. Madison Brown,1
787438,I Was a Male War Bride,1949,Cary Grant,actor,Capt. Henri Rochard,1

In [42]:
# How many roles were available for actors in the 1950s?

c = cast
c = c[c.year // 10 == 195]
c = c[c.type == 'actor']
len(c)

149755

In [43]:
# How many roles were avilable for actresses in the 1950s?

c = cast
c = c[c.year // 10 == 195]
c = c[c.type == 'actress']
len(c)

54495

In [44]:
# How many leading roles (n=1) were available
# from the beginning of film history through 1980?

c = cast
c = c[c.year <= 1980]
c = c[c.n == 1]
len(c)

61876

In [45]:
# How many non-leading roles were available through
# from the beginning of film history through 1980?

c = cast
c = c[c.year <= 1980]
c = c[c.n != 1]
len(c)

1059254

In [46]:
# How many roles through 1980 were minor enough
# that they did not warrant a numeric "n" rank?

c = cast
c = c[c.year <= 1980]
c = c[c.n.isnull()]
len(c)

421393